@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: "Montserral", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: aliceblue;
  text-decoration: none;
  padding: 15px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  max-width: 200vw;
  margin-left: 50px;
  background-image: none;
}
.nav-link {
  list-style: none;
}
.nav-link li {
  display: inline-block;
  padding: 0px 20px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
}
.nav-link a {
  color: black;
}
a:hover {
  color: black;
}
button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #5fb288;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(0, 225, 255, 0.863);
}
.main {
  font-family: "Montserral", sans-serif;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-image: url("/images/fruits.jpeg");
  line-height: 25px;
  text-align: justify;
  text-align: center;
  font-size: 25px;
  padding: 300px 150px 100px 100px;
  line-height: 5rem;
  margin-top: 0px;

  background-position: center;
  justify-content: center;
  display: cover;
  width: 100wh;
  height: 88vh;
  position: relative;
}
.profile-name {
  font-family: "Montserral", sans-serif;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 28px;
}
.contact {
  font-family: "Montserral", sans-serif;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 0.9rem;
  line-height: 24px;
}
.profile {
  font-family: sans-serif;
  text-align: center;
  max-width: 200px;

  margin-top: 50px;
  margin-left: 30px;
}
.profile:hover {
  box-shadow: 0 0 10px rgba(253, 254, 255, 0.966);
}
.profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  display: block;
}
.onet {
  background-color: transparent;
  background-image: none;
}
.main h1 {
  padding-bottom: 10px;
}
.main h3 {
  line-height: 2.8rem;
}
.shopkeeper {
  width: 100px;
  border-radius: 2rem;
  line-height: 1.4;
}
.h1 market {
  color: black;
}
.sell vegetable {
  color: black;
}
