@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@media (max-width: 998px) {
  html {
    font-size: 80%;
    background-image: 100%;
    height: 50vh;
    min-width: 3.5em;

    /* <percentage> value */
    min-width: 50%;

    /* Keyword values */
    min-width: max-content;
    min-width: min-content;
    min-width: fit-content(2rem);
  }
}

@media (min-width: 500px) {
  image {
    width: 1.6em;
    height: 1.2rem;
    padding-top: 2rem;
  }

  .lo {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .shoping a {
    font-size: 1.2rem;
    text-align: center;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: "Montserral", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: aliceblue;
  text-decoration: none;
  padding: 0.6rem;
}
/*************/
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 0.8rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04aa6d;
  color: white;
}
/************/

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  max-width: 200vw;
  margin-left: 3.25em;
  background-image: none;
}
.nav-link {
  list-style: none;
}
.nav-link li {
  display: inline-block;
  padding: 0rem 1.2rem;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
}
.nav-link a {
  color: black;
}
a:hover {
  color: black;
}
button {
  padding: 0.5rem 1.5rem;
  background-color: #5fb288;
  border: none;
  border-radius: 3.125rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  display: inline;
}
button:hover {
  background-color: rgba(0, 204, 255, 0.733);
}
.main {
  font-family: "Montserral", sans-serif;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  background-image: url("/images/vegaetables-farming.jpg");
  line-height: 1.5rem;
  text-align: justify;
  text-align: center;
  font-size: 1.5rem;
  padding: 18.75rem 9.5rem 6.25rem 6.25rem;
  line-height: 5rem;
  margin-top: 0px;
  background-position: center;
  justify-content: center;
  display: cover;
  width: 100wh;
  height: 75vh;
  position: relative;
}

body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 73.5rem;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #5fb288;
  padding: 3.5rem 0;
}
.footer-col {
  width: 25%;
  padding: 0 0.9rem;
}
.footer-col h4 {
  font-size: 1.2rem;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 2.9rem;
  font-weight: 500;
  position: relative;
  line-height: 0.4;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.65rem;
  background-color: #e91e63;
  height: 0.12rem;
  box-sizing: border-box;
  width: 3rem;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 0.65rem;
}
.footer-col ul li a {
  font-size: 1rem;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: black;
  display: block;
  transition: all 0.3s ease;
  line-height: 0.5;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 0.5rem;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
.main h4 {
  line-height: 1.8rem;
}
.button-main {
  display: inline;
}
/**************/
nav {
  color: black;
  display: flex;
  justify-content: space-between;
}
nav .mainMenu {
  display: flex;
  list-style: none;
}
nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 1.2rem;
}
nav .mainMenu li a:hover {
  color: rgb(255, 123, 0);
}
nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: top 1s ease;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a:hover {
    background: none;
    color: rgb(255, 123, 0);
    font-size: 1.6rem;
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }
}
