@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
}

li,
a,
button {
  font-family: "Montserral", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: aliceblue;
  text-decoration: none;
  padding: 15px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  size-adjust: 20px;
  margin-left: 50px;
  margin-top: 10px;
}
.nav-link {
  list-style: none;
}
.nav-link li {
  display: inline-block;
  padding: 0px 20px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
}
a:hover {
  color: red;
}
button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgb(83, 54, 211);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: red;
}
.main {
  font-family: "Montserral", sans-serif;
  font-size: 16px;
  color: whitesmoke;
  padding: 15px;
  line-height: 25px;
  text-align: justify;
  text-align: center;
}
.profile-name {
  font-family: "Montserral", sans-serif;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 28px;
}
.contact {
  font-family: "Montserral", sans-serif;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  line-height: 24px;
}
.profile {
  font-family: sans-serif;
  text-align: center;
  max-width: 200px;

  margin-top: 50px;
  margin-left: 30px;
}
.profile:hover {
  box-shadow: 0 0 10px rgba(253, 254, 255, 0.966);
}
.profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  display: block;
}
